@import "mixins";
body {
    .container {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        overflow-x: hidden;
        padding: 0 10px;
    }
    .region-content {
        min-height: 700px;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .main-wrapper {
        overflow: hidden;
    }
    h1 {
        font-size: 30px;
        text-align: center;
    }
    .field--name-body {
        display: flex;
        span {
            font-size: 30px;
        }
    }
    h2 {
        margin: 100px auto;
        font-size: 28px;
        font-family: "Spline Sans", sans-serif;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        display: flex;
        font-weight: 600;
        justify-content: center;
        white-space: nowrap;
        gap: 22px;
        &::before,
        &::after {
            content: "";
            border: solid #cdcdcd;
            border-width: 0px 1px;
            vertical-align: middle;
            box-sizing: border-box;
            width: 50%;
            height: 3px;
            margin-top: 13px;
            background: #cdcdcd;
        }
        &:nth-child(2) {
            position: absolute;
            margin-top: 240px;
            font-weight: 300;
        }
    }
    .block-views-blockproject-block-1 {
        h2 {
            font-weight: 400;
            margin-left: 20px;
            letter-spacing: -1px;
            margin-top: 120px;
        }
    }
    .block-title {
        font-family: "Spline Sans", sans-serif;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 30px;
    }

    .form-group {
        margin: 50px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .block-block-content {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        font-size: 50px;
    }
    #block-main-title {
        display: flex;
        justify-content: center;
        max-width: 1250px;
        min-height: 72px;
        text-transform: uppercase;
        margin-top: 105px;
        border-top: 5px solid #343343;
        border-bottom: 5px solid #6e9ccb;
        .field--name-body {
            p {
                span {
                    font-size: 1.875rem;
                    white-space: pre-wrap;
                    font-family: "Spline Sans", sans-serif;
                    font-weight: 600;
                    letter-spacing: -0.8px;
                    color: #343343;
                    margin-left: -7px;
                }
            }
            span {
                font-size: 21px;

                font-family: "Spline Sans", sans-serif;
                font-weight: 300;
                color: #dbdbdb;
                margin: 20px 0 0 25px;
                width: 1110px;
                letter-spacing: 0.2px;
                word-spacing: 0.7px;
            }
            a {
                @include link_button;
                background: #6e9ccb;
                color: #fff;
                font-size: 13px;
                height: 30px;
                white-space: nowrap;

                height: 29px;
                padding: 8px 3px;
                margin: 13px 0 0 -120px;
            }
        }
    }
}
.views-filters {
    height: 20px;
    display: flex;
    background: #000;
    .form--inline {
        display: flex;
        flex-direction: row;
    }
    .edit-actions--2 {
        width: 40px;
    }
}
@media (max-width: 1259.98px) {
    #block-main-title {
        .field--name-body {
            min-height: 200px;
            display: flex;
            flex-direction: column;
            padding-left: 120px;
            p {
                margin-left: -80px;
                span {
                    display: flex;
                    justify-content: center;
                    margin: 10px 0 0 30px;
                }
            }
            span {
                display: flex;
                margin: 20px 0 0 100px;
            }
            a {
                width: 111px;

                margin: 150px 0 0 403px;
            }
        }
    }
    header {
        .navbar-nav {
            width: 870px;
        }

        #block-examtheme-search-form {
            margin-left: -100px;
            #edit-submit {
                margin: 40px 0 0 172px;
            }
            .form-search {
                margin-top: 40px;
            }
        }
        .field--type-text-with-summary {
            p {
                margin-left: -60px;
            }
        }
        .region-nav-main {
            #social-media-links--platforms {
                position: absolute;
                top: 200px;
                margin: 81px 0 0 -100px;
                li {
                    margin-top: 39px;
                }
            }
        }
    }

    .view-our-team {
        margin-left: 20px;
    }
    #sm_menu_ham {
        margin: 40px 0 0 -100px;
        color: #6e9ccb;
    }
}

@media (max-width: 1199.98px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }
    .view-services {
        min-height: 1200px;

        .views-row {
            display: flex;
            flex-wrap: wrap;
            row-gap: 100px;
            white-space: pre-wrap;
            column-gap: 8.75rem;
        }
    }
    .view-project {
        min-height: 1300px;
        .views-row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 8.9rem;
            row-gap: 200px;
        }
    }
    .view-news {
        min-height: 700px;
        .views-row {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-left: -100px;
        }
        .views-exposed-form {
            margin-left: 300px;
        }
        .views-col {
            &:last-child {
                margin-top: 30px;
            }
        }
    }
    .view-our-team {
        min-height: 1200px;
        .views-row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 8.75rem;
            row-gap: 200px;
        }
    }
    .field--name-body {
        display: flex;
        flex-wrap: wrap;
        white-space: wrap;
        max-height: contain;
        max-width: contain;
        span {
            font-size: 30px;
        }
    }
    .view-contact-view1 {
        .node__content {
            margin-left: 200px;
        }
        .layout__region--second {
            margin: 30px 0 0 200px;
        }
    }
}

#sm_menu_ham {
    .open {
        position: absolute;
    }
}
@media (max-width: 1139.98px) {
    .view-services {
        .node__content {
            margin-left: 150px;
        }
    }
    .view-project {
        .views-row {
            .node__content {
                margin-left: 200px;
            }
        }
    }
    .view-our-team {
        .views-row {
            .node__content {
                margin-left: 300px;
            }
        }
    }
    #search-block-form {
        width: 90px;
        input {
            margin-left: -140px;
        }
    }
    header {
        .navbar-nav {
            width: 660px;
        }
        #block-examtheme-search-form {
            .form-search {
                margin-left: -61px;
            }
            #edit-submit {
                margin-left: 110px;
            }
        }
        .social-media-links--platforms {
            margin: -45px 0 0 749px;
        }
        #block-header-text2 {
            p {
                margin-left: -484px;
            }
        }
    }
}
@media (max-width: 1024px) {
    #sm_menu_ham {
        display: none;
    }
}
@media (max-width: 943.98px) {
    .view-contact-view1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 992.98px) {
    .view-clients {
        .views-row {
            display: flex;
            flex-wrap: wrap;
            column-gap: 15.75rem;
        }
    }
    #sm_menu_ham {
        display: block;
    }
    .social-media-links--platforms {
        margin-left: 800px;
    }
    #block-examtheme-main-navigation {
        .navbar-nav {
            .nav-item {
                display: none;
            }
            width: 400px;
        }
    }
    #block-header-text2 {
        margin-left: 530px;
    }
    #sm_menu_ham {
        position: absolute;
        margin-top: 30px;
        margin-left: 0px;

        span {
            background: #6e9ccb;
        }
    }
    #search-block-form {
        margin-left: 0px;
        .button {
            margin-left: 0px;
        }
    }
    header {
        .navbar-nav {
            width: 600px;
            margin-left: 342px;
        }
        #block-examtheme-search-form {
            .form-search {
                margin-left: -62px;
            }
            #edit-submit {
                margin-left: 110px;
            }
        }
        .social-media-links--platforms {
            margin: -91px 0 0 384px;
        }
        .region-nav-branding {
            margin-left: 87px;
        }
        #block-header-text2 {
            p {
                margin-left: -664px;
            }
        }
    }
    .view-contact-view1 {
        .node__content {
            margin-left: 0px;
        }
        .layout__region--second {
            margin-left: 150px;
        }
    }
}
@media (max-width: 892.98px) {
    .view-services {
        .views-row {
            margin-left: -120px;
            column-gap: 14.75rem;
        }
    }
    .view-project {
        .views-row {
            .node__content {
                margin-left: 150px;
            }
        }
    }
    .view-our-team {
        .views-row {
            .node__content {
                margin-left: 250px;
            }
        }
    }
    #block-main-title {
        .field--name-body {
            padding-left: 120px;
            span {
                display: flex;
                width: 200px;
                margin: 20px 0 0 100px;
            }
            a {
                position: absolute;
                top: 140px;
                left: 37%;
                margin: 150px 0 0 300px;
            }
        }
    }
    .view-news {
        min-height: 700px;
        .views-row {
            margin-left: -200px;
        }
        .views-exposed-form {
            margin-left: 200px;
        }
    }
}
@media (max-width: 826.98px) {
    .view-clients {
        .views-row {
            .node__content {
                margin-left: 9.375rem;
            }
        }
    }
    .view-project {
        .views-row {
            .node__content {
                margin-left: -250px;
            }
        }
    }
    .view-project {
        .views-row {
            .node__content {
                margin-left: 100px;
            }
        }
    }
    .view-our-team {
        .views-row {
            .node__content {
                margin-left: 200px;
            }
        }
    }
}
@media (max-width: 768.98px) {
    .view-services {
        min-height: 2050px;
        // margin-top: -300px;
        .views-row {
            margin-left: -150px;
        }
    }
    .views-view-grid {
    }

    .views-row {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .view-clients {
        .views-row {
            margin-left: 30px;
            .node__content {
                margin-left: 16.3rem;
            }
        }
    }
    .view-project {
        min-height: 2500px;
        .views-row {
            margin-top: 100px;
            align-content: center;
            .node__content {
                margin-left: -100px;
            }
        }
    }
    .view-our-team {
        h2 {
            column-gap: 50px;
        }
        min-height: 2300px;
        .views-row {
            margin-top: 100px;
            align-content: center;
            .node__content {
                margin-left: 0px;
            }
        }
    }
    header {
        #block-examtheme-main-navigation {
            .navbar-nav {
                width: 272px;
            }
        }
        #block-examtheme-search-form {
            .form-search {
                margin-left: -32px;
            }
            #edit-submit {
                margin-left: 140px;
            }
        }
    }
    .view-news {
        min-height: 700px;
        .views-row {
            margin-left: -300px;
        }
        .views-exposed-form {
            margin-left: 100px;
        }
    }
}
@media (max-width: 640px) {
    .view-clients {
        .views-row {
            display: flex;
            align-content: flex-start;
            margin-left: -40px;
        }
    }
    header {
        .social-media-links--platforms {
            margin: -118px 0 0 238px;
        }
        .site-logo {
            margin-left: 81px;
        }
        .site-slogan {
            margin-left: 119px;
        }

        #block-examtheme-main-navigation {
            .navbar-nav {
                margin-left: 183px;
                margin-top: 156px;
                width: 243px;
            }
        }
        #block-examtheme-search-form {
            .form-search {
                margin: 124px 0 0 -202px;
            }
            #edit-submit {
                margin: 124px 0 0 -30px;
            }
        }
    }
    .view-news {
        overflow: hidden;
        min-height: 700px;
        .field-content {
            div {
                &:first-child {
                    width: 200px;
                }
            }
        }
        .views-row {
            .views-col {
                width: 200px;
            }
        }
    }
    .view-contact-view1 {
        .node__content {
            margin-left: -100px;
        }
        .layout__region--second {
            margin-left: 50px;
        }
    }
}
@media (max-width: 580px) {
    .view-clients {
        .views-row {
            margin-left: -80px;
        }
    }
    .view-contact-view1 {
        .node__content {
            margin-left: -100px;
            form {
                input {
                    width: 400px;
                }
                textarea {
                    width: 400px;
                }
            }
        }
        .layout__region--second {
            margin-left: 150px;
        }
    }
}
@media (max-width: 490px) {
    .view-contact-view1 {
        .node__content {
            margin-left: -100px;
            form {
                input {
                    width: 300px;
                }
                textarea {
                    width: 300px;
                }
            }
        }
        .layout__region--second {
            margin-left: 150px;
        }
    }
}
@media (max-width: 450px) {
    .view-clients {
        .views-row {
            margin-left: -120px;
        }
    }
    header {
        .site-logo {
            margin-left: -35px;
        }
        .site-slogan {
            margin-left: 1px;
        }
        .social-media-links--platforms {
            margin-left: 117px;
        }
        #block-examtheme-main-navigation {
            .navbar-nav {
                margin-left: 66px;
            }
        }
        #block-examtheme-search-form {
            .form-search {
                margin: 124px 0 0 -316px;
            }
            #edit-submit {
                margin-left: -144px;
            }
        }
        .field--type-text-with-summary {
            p {
                margin-left: -104px;
            }
        }
        #block-header-text2 {
            p {
                margin-left: -698px;
                white-space: nowrap;
            }
        }
    }
}
@media (max-width: 400px) {
    header {
        #block-header-text {
            .field--type-text-with-summary {
                p {
                    font-size: 55px;
                }
            }
        }
        #block-header-text2 {
            p {
                font-size: 35px;
            }
        }
        #block-header-text3 {
            .field--type-text-with-summary {
                width: 130px;
                white-space: pre-wrap;
                p {
                    font-size: 14px;
                    line-height: 37px;
                    width: 260px;
                }
            }
        }
    }
}
@media (max-width: 376px) {
    .view-clients {
        .views-row {
            margin-left: -160px;
        }
    }
    .view-services {
        .views-row {
            margin-left: -160px;
        }
    }
    .view-project {
        .views-row {
            margin-left: -10px;
        }
    }
    .view-contact-view1 {
        .node__content {
            margin-left: -150px;
            form {
                input {
                    width: 300px;
                }
                textarea {
                    width: 300px;
                }
            }
        }
    }
}
@media (max-width: 340px) {
    .view-clients {
        .views-row {
            margin-left: -200px;
        }
    }
    .view-services {
        .views-row {
            margin-left: -160px;
        }
    }
    .view-project {
        .views-row {
            margin-left: -13px;
        }
    }
    header {
        .social-media-links--platforms {
            margin-left: 76px;
        }
        .site-logo {
            margin-left: -76px;
        }
        .site-slogan {
            margin-left: -42px;
        }

        #block-examtheme-main-navigation {
            .navbar-nav {
                margin-left: 23px;
            }
        }
        #block-examtheme-search-form {
            .form-search {
                margin: 124px 0 0 -359px;
            }
            #edit-submit {
                margin: 124px 0 0 -187px;
            }
        }
        #block-header-text {
            .field--type-text-with-summary {
                p {
                    margin-left: -120px;
                }
            }
        }
        #block-header-text2 {
            p {
                margin-left: -716px;
            }
        }
        #block-header-text3 {
            .field--type-text-with-summary {
                width: 130px;
                white-space: pre-wrap;
                p {
                    font-size: 14px;
                    line-height: 37px;
                    width: 260px;
                }
            }
        }
    }
    .view-contact-view1 {
        .node__content {
            margin-left: -160px;
            form {
                input {
                    width: 300px;
                }
                textarea {
                    width: 300px;
                }
            }
        }
    }
}
