@import "mixins";
.view-news {
    margin-top: 100px;
    padding-top: 70px;
    background: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.1), #fff 3px, #fff 10px, #fff 0px);
    height: 432px;
    overflow-x: hidden;

    h2 {
        display: none;
    }
    .view-content {
        width: 1250px;
    }
    .view-row {
        width: 610px;
    }

    .views-field {
        background-color: #fff;
        width: 610px;
    }
    .views-field-title {
        display: none;
    }
    .img-fluid {
        border-left: 1px solid #cdcdcd;
        padding-left: 30px;
        margin-top: 20px;
        width: 108px;
        margin-left: 5px;
    }
    .views-field-field-news-image {
        margin: -20px 0 0 85px;
        width: 100px;
    }
    .views-field-field-news-titlw {
        text-transform: uppercase;
        color: #343343;
        position: absolute;
        margin: 90px 0 0 90px;
        font-size: 26px;
        font-family: "Spline Sans";
        width: 500px;
        padding: 0 0 14px 18px;
        border-left: 1px solid #cdcdcd;
    }
    .views-field-field-news-text {
        font-family: "Spline Sans";
        color: #282828;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 15px;
        word-spacing: -0.2px;
        letter-spacing: -0.5px;
        width: 525px;
        word-break: break-all;
        border-left: 1px solid #cdcdcd;
        padding-left: 19px;
        margin: 53px 0 0 90px;
    }

    .views-field-field-news-more {
        display: flex;
        justify-content: flex-end;
        padding-right: 21px;
        @include link_button;
        margin: 8px 0 0 0;
        a {
            background-color: #343343;
            padding: 6px 5px;
            font-size: 14px;
        }
        padding-bottom: 30px;
    }
    .views-field-field-news-date {
        position: absolute;
    }
    .views-field-field-news-date {
        display: flex;
        width: 300px;
        flex-direction: column;
    }
    .views-field-field-date-month {
        // position: absolute;
        // top: 0;
        // width: 30px;
        // margin-top: 40px;
        position: absolute;
        width: 65px;
        margin: 13px 0 0 20px;
        font-size: 25px;
        font-family: "Spline Sans";
        text-transform: uppercase;
        color: #373645;
    }
    .views-field-field-date-day {
        font-weight: 700;
        font-size: 50px;
        position: absolute;
        margin: 37px 0 0 18px;
        height: 50px;
        width: 65px;
        color: #6e9bca;
        // font-family: "Spline Sans";
    }
    .views-field-field-date-year {
        color: #e0e0e0;

        width: 25px;
        position: absolute;
        margin: 85px 0 0 30px;
    }
    .views-field-field-date-ago {
        margin: 0 0 0 300px;
        width: 300px;
    }
}
